/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);*/

@font-face{
  font-family: "Sansation";
  src: url("../src/Sansation_Light.ttf")
}

*{
  padding:0;
  margin:0;
}

body *{
  display:block;
}

h1,h2,h3,h4,h5{
  font-family: "Sansation";
}

a{
  display:inline-block;
  font-family: "Sansation";
  text-decoration:none;
  color:#000;
}

div.right{
  text-align:right;
}

#siteNavWrapper{
  position:fixed;
  display:block;
  width:100%;
  height:100px;
  z-index:99;
}

#siteNav{
  padding:10px 40px;
  height:100px;
  margin:0 50px;
  background:#FFF;
}
#siteNav #logo{
  width:80px;
  position:absolute;
}
#navItemWrapper{
  position: absolute;
  margin-left: 80px;
}

#news{
  display:block;
  width:100%;
  height:750px;
}
#news div.newsItem{
  width:100%;
  height:100%;
}
#news div.newsItem img{
  min-width:100%;
  max-height:750px;
}
